<div id="list-page">
    <div class = "center col-lg-4" id="list-heading">
        <h2>What the Chirp?!</h2>
        <h4>Check out the latest chirps!</h4>
    </div>

    <div class = "col-lg-4" ng-controller="ChirpsController as chirps">
        <div class = "center col-lg-4 list-container" ng-repeat="chirp in chirpList">
            <p>User: {{ chirp.user }}</p>
            <p>Chirp: {{ chirp.message }}</p>
            <button ng-click="ClickMe(chirp.id)" id = {{chirp.id}}>View</button>
            {{ chirp.id}}
            <button ng-click="DeleteChirp">Delete</button>
        </div>
    </div>
</div>

